In [1]:
import pandas as pd
import numpy as np
from preprocessing import *

In [2]:
#load raw features data
df = pd.read_csv('../data/city.csv', low_memory=False)

In [3]:
#Clean up unique identifier
df['assessor_id'] = df['assessor_id'].str[1:]

In [4]:
# add labels
df = add_labels(df);
df.shape

(18406, 239)

In [5]:
# quick clean 
df = clean_and_drop(df);
df.shape

(17351, 116)

In [6]:
# feature engineer 
df = feature_engineer(df)

In [7]:
# impute numerical
df = impute(df)

In [8]:
# categorical columns to impute with mode
cols = ['exterior_wall_type', 'frame_type', 'heating_type', 'interior_wall_type', 'land_use']

In [9]:
df = cat_impute(df, cols)

In [19]:
# get dummies
dummy_cols = [
    'ac_type',
    'exterior_wall_type', 
    'frame_type',
    'heating_type',
    'interior_wall_type',
    'land_use', 
    'nrel_attached_garage',
    'nrel_foundation',
    'nrel_heating_fuel',
    'nrel_size',
    'nrel_vintage',
    'owner_occupied',
    'primary_building_type',
    'roof_cover_type',
    'secondary_building_type',
    'site_type',
    'zillow_neighborhood'
]

In [20]:
df = pd.get_dummies(df, columns=dummy_cols, drop_first=True)

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
df.shape

(17351, 208)

In [23]:
df.head()

,assessor_id,buidling_condition,year_built,effective_year_built,bedroom_count,room_count,full_bath_count,half_bath_count,nrel_stories,finished_basement_area,...,zillow_neighborhood_Table Mesa South,zillow_neighborhood_Tantra Park,zillow_neighborhood_University Heights,zillow_neighborhood_University Hill,zillow_neighborhood_Unknown,zillow_neighborhood_West Hawthorn,zillow_neighborhood_West Pearl,zillow_neighborhood_Whittier,zillow_neighborhood_Winding Trail Village,zillow_neighborhood_Wonderland Hills
0,0000005,3,1957,1957,3,6,1,1,1,988,...,0,0,0,0,0,0,0,0,0,0
1,0000006,5,1925,1985,3,8,2,1,2,0,...,0,0,0,0,0,1,0,0,0,0
2,0000007,9,1946,1998,3,9,2,2,2,0,...,0,0,0,0,0,0,0,0,0,0
3,0000010,6,1925,1990,3,6,2,0,1,816,...,0,0,0,0,0,0,0,0,0,0
4,0000013,9,1973,1995,4,9,3,1,1,525,...,0,0,0,0,0,0,0,0,0,0

In [24]:
df.isnull().sum().sum()

0

In [28]:
pos = sum(df['labels'] == 1)
len(df[df['labels'] == 1])

1631

In [26]:
pos / df.shape[0]  #9.4% of data in positive class

0.09400034580139473

In [33]:
# undersample majority class to handle class imbalance
num_pos = len(df[df['labels'] == 1])
num_neg = df.shape[0] - num_pos
num_to_drop = num_neg - num_pos #gets to 50/50 balance

In [34]:
df.drop(df.query('labels == 0').sample(n=num_to_drop).index, inplace=True)

In [35]:
df.shape

(3262, 208)

In [37]:
# Get to X
y = df.pop('labels')
X = df

In [38]:
X.shape

(3262, 207)

In [42]:
compare = pd.read_csv('../data/city.csv', low_memory=False)

In [43]:
compare = pd.get_dummies(compare, columns=dummy_cols, drop_first=True)

In [44]:
compare.shape

(18406, 363)

In [47]:
363-207

156