In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from preprocessing import *

In [2]:
#load raw features data
df = pd.read_csv('../data/city.csv', low_memory=False)

In [3]:
#Clean up unique identifier
df['assessor_id'] = df['assessor_id'].str[1:]

In [4]:
# add labels
df = add_labels(df);
df.shape

(18406, 239)

In [ ]:
# quick clean 
df = clean_and_drop(df);
df.shape

In [7]:
# feature engineer 
df = feature_engineer(df)

In [8]:
df.head()

,assessor_id,secondary_building_type,buidling_condition,frame_type,year_built,effective_year_built,bedroom_count,room_count,full_bath_count,half_bath_count,...,owner_occupied,pv_potential_watts,pv_potential_kwhr_yr,zillow_neighborhood,labels,num_upgrades_parcel,num_upgrades_subdivision,num_upgrades_zip,time_since_sale,permits
0,0000005,1 STORY - RANCH,3,MASONRY,1957,1957,3,6,1,1,...,Owner Occupied,282.0,414.0,Table Mesa North,0,193,19,524,5523,1
1,0000006,2 - 3 STORY,5,FRAME,1925,1985,3,8,2,1,...,Owner Occupied,556.0,815.0,West Hawthorn,0,166,4,502,6969,2
2,0000007,2 - 3 STORY,9,FRAME,1946,1998,3,9,2,2,...,Owner Occupied,1097.0,1609.0,Newlands,0,74,45,502,4946,1
3,0000010,1 STORY - RANCH,6,MASONRY,1925,1990,3,6,2,0,...,Owner Occupied,8881.0,13020.0,Newlands,0,74,45,502,1190,1
4,0000013,1 STORY - RANCH,9,MASONRY,1973,1995,4,9,3,1,...,Standard Rental,432.0,633.0,Carolyn Heights,0,166,3,502,638,1

In [9]:
df.shape

(17351, 81)

In [ ]:
# impute numerical
df = impute(df)

In [ ]:
# categorical columns to impute with mode
cols = ['exterior_wall_type', 'frame_type', 'heating_type', 'interior_wall_type', 'land_use']

In [ ]:
df = cat_impute(df, cols)

In [ ]:
# get dummies
dummy_cols = [
    'ac_type',
    'exterior_wall_type', 
    'frame_type',
    'heating_type',
    'interior_wall_type',
    'land_use', 
    'nrel_attached_garage',
    'nrel_foundation',
    'nrel_heating_fuel',
    'nrel_size',
    'nrel_vintage',
    'owner_occupied',
    'primary_building_type',
    'roof_cover_type',
    'secondary_building_type',
    'site_type',
    'zillow_neighborhood'
]

In [ ]:
df = pd.get_dummies(df, columns=dummy_cols, drop_first=True)

In [ ]:
type(df)

In [ ]:
df.shape

In [ ]:
df.isnull().sum().sum()

In [ ]:
pos = sum(df['labels'] == 1)
len(df[df['labels'] == 1])

In [ ]:
pos / df.shape[0]  #9.4% of data in positive class

In [ ]:
# undersample majority class to handle class imbalance
df = balance(df)

In [ ]:
df.shape

In [ ]:
# Get to X
y = df.pop('labels')
X = df

In [ ]:
X.shape

In [ ]:
compare = pd.read_csv('../data/city.csv', low_memory=False)

In [ ]:
compare = pd.get_dummies(compare, columns=dummy_cols, drop_first=True)

In [ ]:
compare.shape

In [ ]:
363-207

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [ ]:
X_train.shape

In [ ]:
X_train.shape